<h1>Members</h1>
<h1>Name:<%= @member.name %></h1>
  <h4>Age: <%= @member.age %></h4>
  <h4>Gender: <%= @member.gender %></h4>
  <h4>Eye Color: <%= @member.eye_color %></h4>
  <h4>Hair Color: <%= @member.hair_color %></h4>
  <%= link_to 'Back', members_path %>
<%= link_to 'Edit Member', edit_member_path(@member) %>
